USE [master]
GO
/****** Object:  Database [Etut]    Script Date: 16.05.2023 17:38:03 ******/
CREATE DATABASE [Etut]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Etut', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Etut.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Etut_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Etut_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Etut].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Etut]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[TC] [varchar](11) NULL,
	[TELNO] [varchar](50) NULL,
	[SIFRE] [varchar](50) NULL,
	[EPOSTA] [varchar](50) NULL,
 CONSTRAINT [PK_TBLADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLETUT]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLETUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OGRETMENID] [int] NULL,
	[OGRENCIID] [int] NULL,
	[ALANID] [int] NULL,
	[SAATID] [int] NULL,
	[ZAMAN] [date] NULL,
	[AKTIFMI] [bit] NULL,
 CONSTRAINT [PK_TBLETUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRBRANS]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRBRANS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANSADI] [varchar](50) NULL,
 CONSTRAINT [PK_TBLOGRBRANS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[TC] [varchar](11) NULL,
	[TELNO] [varchar](50) NULL,
	[SIFRE] [varchar](50) NULL,
	[EPOSTA] [varchar](50) NULL,
	[SINIFID] [int] NULL,
	[BRANSID] [int] NULL,
	[KAYITDURUMU] [bit] NULL,
 CONSTRAINT [PK_TBLOGRENCI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRETMEN]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRETMEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[TC] [varchar](11) NULL,
	[TELNO] [varchar](50) NULL,
	[SIFRE] [varchar](50) NULL,
	[EPOSTA] [varchar](50) NULL,
	[ALANID] [int] NULL,
	[KAYITDURUMU] [bit] NULL,
 CONSTRAINT [PK_TBLOGRETMEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRSINIF]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRSINIF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SINIFSEVIYESI] [varchar](50) NULL,
 CONSTRAINT [PK_TBLOGRSINIF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLORTALAN]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLORTALAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DERSADI] [varchar](50) NULL,
 CONSTRAINT [PK_TBLORTALAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSAAT]    Script Date: 16.05.2023 17:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSAAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SAAT] [varchar](50) NULL,
 CONSTRAINT [PK_TBLSAAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLADMIN] ON 

INSERT [dbo].[TBLADMIN] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA]) VALUES (3, N'admin', N'admin', N'22222222222', N'05222222222', N'1', N'admin')
SET IDENTITY_INSERT [dbo].[TBLADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLETUT] ON 

INSERT [dbo].[TBLETUT] ([ID], [OGRETMENID], [OGRENCIID], [ALANID], [SAATID], [ZAMAN], [AKTIFMI]) VALUES (2155, 17, 1071, 7, 3, CAST(N'2023-05-16' AS Date), 1)
INSERT [dbo].[TBLETUT] ([ID], [OGRETMENID], [OGRENCIID], [ALANID], [SAATID], [ZAMAN], [AKTIFMI]) VALUES (2156, 17, 1071, 7, 5, CAST(N'2023-05-19' AS Date), 1)
SET IDENTITY_INSERT [dbo].[TBLETUT] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRBRANS] ON 

INSERT [dbo].[TBLOGRBRANS] ([ID], [BRANSADI]) VALUES (7, N'SAYISAL')
INSERT [dbo].[TBLOGRBRANS] ([ID], [BRANSADI]) VALUES (8, N'SÖZEL')
INSERT [dbo].[TBLOGRBRANS] ([ID], [BRANSADI]) VALUES (9, N'EŞİT AĞIRLIK')
SET IDENTITY_INSERT [dbo].[TBLOGRBRANS] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] ON 

INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [SINIFID], [BRANSID], [KAYITDURUMU]) VALUES (61, N'Mehmet', N'Karacan', N'11416187648', N'05147461455', N'!123Mehmet', N'mehmet@gmail.com', 6, 7, 1)
INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [SINIFID], [BRANSID], [KAYITDURUMU]) VALUES (62, N'Mustafa', N'Karaca', N'85785704206', N'5781597568', N'aA1@asdf2', N'mustafa@gmail.com', 6, 7, 1)
INSERT [dbo].[TBLOGRENCI] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [SINIFID], [BRANSID], [KAYITDURUMU]) VALUES (63, N'Hikmet', N'Subaşı', N'87328714178', N'05531468514', N'!123Hiko', N'hikmet@gmail.com', 6, 7, 1)
SET IDENTITY_INSERT [dbo].[TBLOGRENCI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRETMEN] ON 

INSERT [dbo].[TBLOGRETMEN] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [ALANID], [KAYITDURUMU]) VALUES (13, N'Mustafa', N'Şimşek', N'28279504838', N'05435785566', N'!''123Mmustafa83', N'mustafaa@gmail.com', 4, 0)
INSERT [dbo].[TBLOGRETMEN] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [ALANID], [KAYITDURUMU]) VALUES (14, N'Hidayet', N'Takçı', N'47188330352', N'05478964859', N'hidayet34!''123M', N'hidayet33@msn.com', 4, 0)
INSERT [dbo].[TBLOGRETMEN] ([ID], [AD], [SOYAD], [TC], [TELNO], [SIFRE], [EPOSTA], [ALANID], [KAYITDURUMU]) VALUES (15, N'Aslı', N'Selamet', N'34998863910', N'05471597544', N'aslıııı2!''123M', N'aslı200@gmail.com', 5, 0)
SET IDENTITY_INSERT [dbo].[TBLOGRETMEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRSINIF] ON 

INSERT [dbo].[TBLOGRSINIF] ([ID], [SINIFSEVIYESI]) VALUES (6, N'9. SINIF')
INSERT [dbo].[TBLOGRSINIF] ([ID], [SINIFSEVIYESI]) VALUES (7, N'10. SINIF')
INSERT [dbo].[TBLOGRSINIF] ([ID], [SINIFSEVIYESI]) VALUES (8, N'11. SINIF')
SET IDENTITY_INSERT [dbo].[TBLOGRSINIF] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLORTALAN] ON 

INSERT [dbo].[TBLORTALAN] ([ID], [DERSADI]) VALUES (4, N'MATEMATİK')
INSERT [dbo].[TBLORTALAN] ([ID], [DERSADI]) VALUES (5, N'FİZİK')
INSERT [dbo].[TBLORTALAN] ([ID], [DERSADI]) VALUES (6, N'KİMYA')
SET IDENTITY_INSERT [dbo].[TBLORTALAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLSAAT] ON 

INSERT [dbo].[TBLSAAT] ([ID], [SAAT]) VALUES (1, N'9:00')
INSERT [dbo].[TBLSAAT] ([ID], [SAAT]) VALUES (2, N'10:00')
INSERT [dbo].[TBLSAAT] ([ID], [SAAT]) VALUES (3, N'11:00')
SET IDENTITY_INSERT [dbo].[TBLSAAT] OFF
GO
ALTER TABLE [dbo].[TBLETUT]  WITH CHECK ADD  CONSTRAINT [FK_TBLETUT_TBLOGRENCI] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBLOGRENCI] ([ID])
GO
ALTER TABLE [dbo].[TBLETUT] CHECK CONSTRAINT [FK_TBLETUT_TBLOGRENCI]
GO
ALTER TABLE [dbo].[TBLETUT]  WITH CHECK ADD  CONSTRAINT [FK_TBLETUT_TBLOGRETMEN] FOREIGN KEY([OGRETMENID])
REFERENCES [dbo].[TBLOGRETMEN] ([ID])
GO
ALTER TABLE [dbo].[TBLETUT] CHECK CONSTRAINT [FK_TBLETUT_TBLOGRETMEN]
GO
ALTER TABLE [dbo].[TBLETUT]  WITH CHECK ADD  CONSTRAINT [FK_TBLETUT_TBLORTALAN] FOREIGN KEY([ALANID])
REFERENCES [dbo].[TBLORTALAN] ([ID])
GO
ALTER TABLE [dbo].[TBLETUT] CHECK CONSTRAINT [FK_TBLETUT_TBLORTALAN]
GO
ALTER TABLE [dbo].[TBLETUT]  WITH CHECK ADD  CONSTRAINT [FK_TBLETUT_TBLSAAT] FOREIGN KEY([SAATID])
REFERENCES [dbo].[TBLSAAT] ([ID])
GO
ALTER TABLE [dbo].[TBLETUT] CHECK CONSTRAINT [FK_TBLETUT_TBLSAAT]
GO
ALTER TABLE [dbo].[TBLOGRENCI]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCI_TBLOGRBRANS1] FOREIGN KEY([BRANSID])
REFERENCES [dbo].[TBLOGRBRANS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLOGRENCI] CHECK CONSTRAINT [FK_TBLOGRENCI_TBLOGRBRANS1]
GO
ALTER TABLE [dbo].[TBLOGRENCI]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCI_TBLOGRSINIF] FOREIGN KEY([SINIFID])
REFERENCES [dbo].[TBLOGRSINIF] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLOGRENCI] CHECK CONSTRAINT [FK_TBLOGRENCI_TBLOGRSINIF]
GO
ALTER TABLE [dbo].[TBLOGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRETMEN_TBLORTALAN1] FOREIGN KEY([ALANID])
REFERENCES [dbo].[TBLORTALAN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLOGRETMEN] CHECK CONSTRAINT [FK_TBLOGRETMEN_TBLORTALAN1]
GO
USE [master]
GO
